.app {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "Sidebar Edit";
    min-height: 100vh;
    margin: auto;
    gap: 1.5rem;
    padding: 0 1.5rem;
    justify-content: center;
}

@media (min-width: 1000px) {
    .app {
        grid-template-columns: min-content max(430px) auto;
        grid-template-rows: 1fr;
        grid-template-areas: "Sidebar Edit Preview";
    }
}

@media (min-width: 1200px) {
    .app {
        grid-template-columns: min-content max(500px) auto;
        grid-template-rows: 1fr;
        grid-template-areas: "Sidebar Edit Preview";
    }
}

@media (min-width: 1400px) {
    .app {
        grid-template-columns: min-content max(600px) auto;
        grid-template-rows: 1fr;
        grid-template-areas: "Sidebar Edit Preview";
    }
}

@media (min-width: 1500px) {
    .app {
        grid-template-columns: min-content max(700px) auto;
        grid-template-rows: 1fr;
        grid-template-areas: "Sidebar Edit Preview";
    }
}
