.edit-panel {
    display: flex;
    flex-flow: row nowrap;
    padding: 2rem 2rem 0;
    gap: 2rem;
}

.edit-panel-sidebar > .edit-panel-sidebar-content {
    background-color: #fff;
    border-radius: var(--default-border-radius);
    padding: 1rem 1rem;
    box-shadow: var(--default-box-shadow);
    min-width: 130px;
    position: sticky;
    top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.sidebar-app-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    > svg {
        width: 4rem;
        height: 4rem;
        color: var(--color-accent-blue);
    }
}

.edit-panel-content {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
}

@media (min-width: 1000px) {
    .edit-panel {
        max-width: none;
    }
}
