.edit-panel-mode-btn {
    display: flex;
    flex-flow: column;
    align-items: center;

    border: none;
    border-radius: var(--default-border-radius);
    padding: 0.5rem;
    width: 100%;
    background-color: inherit;
    transition: background-color 0.15s;
    cursor: pointer;

    > svg {
        width: 2rem;
        height: 2rem;
    }

    &:hover {
        opacity: 0.7;
    }

    &:active {
        opacity: 0.5;
    }
}

.edit-panel-mode-btn.active {
    background-color: var(--color-grey-100);
}
