.edit-section {
    box-shadow: var(--default-box-shadow);
    background-color: #fff;

    padding: 1.5rem;
}

.edit-section > .edit-section-header + .edit-section-content {
    margin-top: 1.5rem;
}
