:root {
    --default-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    --default-border-radius: 15px;

    --color-black: rgba(0 0 0);
    --color-grey-400: rgb(189 189 189 / 1);
    --color-black-op-60: rgba(0 0 0 / 0.6);
    --color-black-op-80: rgba(0 0 0 / 0.8);
    --color-accent-blue: #0a3d62;
}

#root {
    background-color: #f3f1ec;
}

.rounded-small {
    border-radius: 5px;
}

.rounded-medium {
    border-radius: 10px;
}

.rounded-large {
    border-radius: 20px;
}

.rounded-bottom-none {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.padding-medium {
    padding: 1.5rem;
}

.text-grey-400 {
    color: var(--color-grey-400);
}

.text-\[0\.8em\] {
    font-size: 0.8em;
}
