.edit-personal-details {
    box-shadow: var(--default-box-shadow);
    background-color: #fff;
}

.section-foldout {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: inherit;
    border: none;

    &:hover {
        cursor: pointer;
        color: var(--color-black-op-60);
    }
}

.section-foldout > .section-foldout-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    > .section-foldout-icon {
        font-size: 2em;
        margin-right: 1rem;
    }

    > h1 {
        margin: 0;
        display: inline;
    }
}

.section-foldout > .section-foldout-chevron {
    width: 1.5rem;
    height: 1.5rem;
}

.edit-personal-details-form {
}

.edit-form-item {
    display: flex;
    flex-flow: column;

    > label {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    > input {
        --input-bg-color: #f3f4f6;

        outline: none;
        border: 2px solid var(--input-bg-color);
        background-color: var(--input-bg-color);
        padding: 0.5em;
        transition: border 0.15s;

        &:focus {
            border: 2px solid red;
        }
    }
}

.edit-form-item + .edit-form-item {
    margin-top: 1rem;
}

.edit-form-controls {
    margin-top: 1.5rem;
    border-top: 1px solid var(--color-grey-400);
    padding: 1rem 0 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
