.personal-section-content {
    position: relative;
}

.personal-section-content.preview {
    padding: 0.5rem;
}

.personal-section-content p {
    margin: 0;
}

.personal-section-content .fullname {
    font-weight: bold;
    color: var(--color-primary-blue);
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
}

.personal-section-content .job-title {
    font-size: 1.25rem;
    color: var(--color-grey-800);
}

.personal-section-content > .group:last-of-type {
    margin-top: 1rem;
    color: var(--color-grey-800);

    & > p + p {
        margin-top: 0.5rem;
    }
}

.personal-section-content > .edit-button {
    position: absolute;
    top: 0;
    right: 0;
}
