.resume-preview {
    position: sticky;
    top: 0;
    max-height: 100vh;
    padding: 2rem 0;
    overflow: auto;
    scroll-behavior: smooth;
}

.resume-page {
    background-color: #fff;
    width: 21cm;
    max-width: 21cm;
    max-height: 29.7cm;
    height: 29.7cm;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: minmax(200px, min-content) auto;
    grid-template-areas:
        "header"
        "content";
    overflow: hidden;
}

.app > .resume-preview {
    display: none;
}

@media (min-width: 1000px) {
    .app > .resume-preview {
        display: block;
    }
}
