.preview-header {
    grid-area: header;
    background-color: var(--color-primary-blue);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.preview-header-details {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}

.fullname {
    margin: 0;
}

.job-title {
    margin: 0;
}
