.resume-header {
    grid-area: header;
    background-color: var(--resume-accent-color);
    color: var(--resume-text-accent-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3rem 2rem;
}

.resume-page.top .resume-header {
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.resume-header .fullname {
    margin: 0;
}

.resume-header .job-title {
    margin: 0.5rem 0 1.5rem;
}
.resume-page.top .job-title {
    margin: 0.5rem 0;
}

.resume-header-details {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.resume-page.top .resume-header-details {
    flex-flow: row nowrap;
}
