.resume-page {
    background-color: #fff;
    width: 21cm;
    max-width: 21cm;
    max-height: 29.7cm;
    height: 29.7cm;
    display: grid;
    grid-template-columns: auto;
    overflow: hidden;

    &.top {
        grid-template-rows: minmax(200px, min-content) auto;
        grid-template-areas:
            "header"
            "content";
    }

    &.left {
        grid-template-columns: 45% 55%;
        grid-template-areas: "header content";
    }

    &.right {
        grid-template-columns: 55% 45%;
        grid-template-areas: "content header";
    }
}
