.resume-section-item {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

.resume-section-item .title,
.resume-section-item .sub-title {
    margin-bottom: 2px;
}

.resume-section-item .description {
    white-space: pre-wrap;
    margin: 4px 0 0;
}
